doctype html
html
    head
        title 
        link(rel='stylesheet', href='/stylesheet/style.css')
    body
        .container
            .sidebar
                a(href='/') #{t('home.welcome')}
                hr
                a(href='/books') #{t('home.book')}
                br
                a(href='/authors') #{t('home.author')}
                br
                a(href='/genres') #{t('home.genre')}
                br
                a(href='/bookinstances') #{t('home.bookinstance')}
                hr
                a(href='/authors/create') #{t('home.create_author')}
                br
                a(href='/genres/create') #{t('home.create_genre')}
                br
                a(href='/books/create') #{t('home.create_book')}
                br
                a(href='/bookinstances/create') #{t('home.create_bookinstance')}
            .content
                h1 #{t('author.author_list')} 
                ul
                    each author in authors
                        li
                            a(href=author.url) #{author.first_name} #{author.family_name}
                            | (#{t('author.born')}: #{author.date_of_birth}, #{t('author.died')}: #{author.date_of_death}) 
                            | (#{t('author.books_count')}: #{author.booksCount})
                if authors.length === 0
                    p #{t('author.no_authors')}

