doctype html
html
    head
        title #{t('author.author_detail')}
        link(rel='stylesheet', href='/stylesheet/style.css')
    body
        .container
            .sidebar
                a(href='/') #{t('home.welcome')}
                hr
                a(href='/books') #{t('home.book')}
                br
                a(href='/authors') #{t('home.author')}
                br
                a(href='/genres') #{t('home.genre')}
                hr
                a(href='/authors/create') #{t('home.create_author')}
                br
                a(href='/books/create') #{t('home.create_book')}
            .content
                h1 #{author.first_name} #{author.family_name}
                p #[strong #{t('author.date_of_birth')}:] #{author.date_of_birth ? author.date_of_birth.toISOString().slice(0, 10) : 'N/A'}
                p #[strong #{t('author.date_of_death')}:] #{author.date_of_death ? author.date_of_death.toISOString().slice(0, 10) : t('author.died')}
                p #[strong #{t('author.books')}:]
                    if books.length > 0
                        each book in books
                            div.book-item
                                a(href=`/books/${book.id}`) 
                                    h3 #{book.title}
                                p #[strong -] #{book.summary || t('author.no_summary')}
                                if book !== books[books.length - 1]
                                    hr
                    else
                        | #{t('author.no_books')}
